
.container {
    position: relative;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(36, 33, 33, 0.5);
    z-index: 1;
}
.banner {
    width: 100%;
}

.form {
    padding: 24px 30px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #2C2C2C;
    width: 100%;
    height: 55%;
    z-index: 5;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form h4 {
    font-size: 18px;
    font-family: 800;
    color: white;
    letter-spacing: 1px;
    margin-bottom: 12px;
}

.inputContainer {
    padding: 12px;
    background-color: #3B3B3B;
    border-radius: 12px;
    display: flex;
    align-items: center;
    color: white;
    font-size: 18px;
    gap: 20px;
}

.inputContainer span{
    border-right: 1px solid #5B5B5B;
    padding-right: 20px;
}

.inputContainer:focus-within {
    outline: 2px solid #5B5B5B;
}

.inputContainer input {
    width: 100%;
    border: none;
    background-color: transparent;
    outline: none;
    color: white;
    font-size: 18px;
}

.or {
    display: flex;
    align-items: center;
    gap: 6px;
    margin-top: 12px;
}

.or p {
    color: white;
}
.or span {
    height: 1px;
    width: 100%;
    background-color: #5B5B5B;
}

.signBtn {
    background-color: transparent;
    border: 1px solid #5B5B5B;
    border-radius: 12px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    gap: 10px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    margin-top: 12px;
    font-size: 14px;
}

.signLink {
    color: white;
    font-size: 12px;
    text-align: center;
    margin-top: 12px;
    font-family: 'DM Sans', sans-serif;
}

.signLink span {
    color: #ff8d24;
    cursor: pointer;
}

.continue {

}

.continue p {
    color: white;
    font-size: 11px;
    margin-bottom: 12px;
}

.continue span {
    text-decoration: underline;
    cursor: pointer;
}
.continue button {
    width: 100%;
    padding: 12px;
    border-radius: 12px;
    border: none;
    background-color: #ff8d24;
    color: white;
    font-family: 'DM Sans', sans-serif;
}


