
.container {
    position: relative;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(36, 33, 33, 0.5);
    z-index: 1;
}
.banner {
    width: 100%;
}

.form {
    padding: 28px 35px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #2C2C2C;
    width: 100%;
    height: 55%;
    z-index: 5;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.form h4 {
    font-size: 20px;
    font-family: 800;
    color: white;
    letter-spacing: 1px;
    margin-bottom: 16px;
}

.inputContainer {
    padding: 16px;
    background-color: #3B3B3B;
    border-radius: 12px;
    display: flex;
    align-items: center;
    color: white;
    font-size: 19px;
    gap: 20px;
}

.inputContainer span{
    border-right: 1px solid #5B5B5B;
    padding-right: 20px;
}

.inputContainer:focus-within {
    outline: 2px solid #5B5B5B;
}

.inputContainer input {
    width: 100%;
    border: none;
    background-color: transparent;
    outline: none;
    color: white;
    font-size: 19px;
}

.or {
    display: flex;
    align-items: center;
    gap: 6px;
    margin-top: 16px;
}

.or p {
    color: white;
}
.or span {
    height: 1px;
    width: 100%;
    background-color: #5B5B5B;
}

